@import "reset.css";
@import "../components/Header/header.module";
@import "../components/Content/content.module";
@import "../components/Menu/menu.module";
@import "../components/Footer/footer.module";

#root{
  min-height: 100vh;
}

h1{
  color: #ffffff;
  font-size: 45px;
  line-height: 61px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

h2{
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
  font-family: 'Raleway', sans-serif;
}

p{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.color-red{
  color: #E32328;
}

select{
  width: 100%;

}

input{
  width: calc(100% - 30px);
}

select, input, a{
  outline:none;
  &:focus{
    outline:none;
  }
}


.clear {
  clear: both;
}

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font: 14px/20px 'Raleway', sans-serif;
  color: #2D3D57;
  background: #fff;
}

.root-Wrapper {
  position: relative;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  width:100%;
  margin:0 auto;
  justify-content: space-between;
  background: rgb(28,22,66);
  background: linear-gradient(71deg, rgba(28,22,66,1) 0%, rgba(1,1,13,1) 48%, rgba(0,1,45,1) 100%);
  header,
  footer {
  }
  main {
  }
}

a {
  text-decoration: none;
}

.centerWrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.button-block{
  display: flex;
  justify-content: center;
  &__button{
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background: #E32328;
    border-radius: 34px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border:none;
    padding: 20px 55px;
    transition: opacity 0.5s ease;
    &:hover{
      box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.5);
      transition: opacity 0.5s ease;
    }
  }
}



.flex-container{
  display: flex;
  flex-direction: column;
  &_row{
    flex-direction: row;
  }
  &_column{
    flex-direction: column;
  }
  &_center{
    align-items: center;
    justify-content: center;
  }
  &_jcsb{
    justify-content: space-between;
  }
}



.tCenter{
  text-align: center;
}


.align-right{
  text-align: right;
}

.color-white{
  color: #ffffff;
}


.m20{
  margin: 20px 0;
}

.fsz20{
  font-size:20px;
  line-height: 27px;
}
