.featured{
  background-color: #CEDCE9;
  padding: 40px 0 240px;
  margin: 40px 0 0;
  position: relative;
  background-image: url('../images/clouds.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 350px;
  z-index: -1;
  &:before{
    content:'';
    position: absolute;
    top: -34px;
    left: 18%;
    background: url(../images/mini-plane.svg) no-repeat;
    width: 300px;
    height: 170px;
    background-size: cover;
  }
}

.plane-svg{
  text-align: center;
}

.promise{
  margin: 0 auto 40px;
  .plane-container{
    margin: 20px auto 0;
    .flex-card__image > div {
      justify-content: flex-start;
    }
    .flex-container_column{
      flex-basis: 23%;
    }
    .flex-plane{
      flex-grow: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.calc-block{
  background: #FAFAFA;
  .calc-flex{
    justify-content: space-around;
  }
}

.dsplNone {
  display: none;
}


.potential{
  background-image: url('../images/planes-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2D3D57;
  padding: 50px;
  max-width: 610px;
  >div{
    padding: 50px;
    border:3px solid #E32328;
  }
  .price-month{
    font-weight: 800;
    font-size: 65px;
    line-height: 89px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    &:before{
      content:'';
      position: absolute;
      bottom: -3px;
      left: 50%;
      margin-left: -50px;
      background: #E32328;
      width: 100px;
      height: 3px;
    }
  }

  .price-year{
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;
  }
  p{
    color: #ffffff;
    &.color-red{
      color: #E32328;
    }
    &.weight-bold{
      font-weight: 800;
      font-size: 25px;
      line-height: 34px;
    }
  }
}


.what-cards{
  margin: 80px 0 40px;
}

.savings-info{
  padding: 20px;
  .monthly-volume{
    font-weight: 800;
    font-size: 25px;
    line-height: 34px;
    b{
      font-weight: 800;
      font-size: 40px;
      line-height: 54px;
    }
  }
  .mini-desc{
    color: #172A39;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
  }
}

.select2-container .select2-search--dropdown{
  display: none;
}

.select2-container{
  width: 100% !important;
}

.form-container__label{
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    background-color: #CFCECE;
    border-radius: 0 2px 2px 0;
    height: 40px;
    width: 50px;
    b{
      background: url(../images/select-arrow.svg) no-repeat;
      width: 23px;
      height: 11px;
      background-size: contain;
      top: 50%;
      margin-top: -5px;
      left: 50%;
      margin-left: -9px;
      border:none;
    }
  }
  .select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 0;
    padding-right: 50px;
  }
  .select2-results__option{
  }
}

.select2-container--default .select2-results__option{
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #979797;
  &:last-child{
    border:none;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow{
  background: #2D3D57;
  border: 1px solid #979797;
  box-sizing: border-box;
  b{
    transform: rotate(180deg);
    margin-left: -13px;
  }
}

.featured-sponsors{
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.price-slider-container {
  width: 90%;
  margin: 20px auto 40px;
}

.price-slider-container .irs--round .irs-line{
  height: 15px;
  background-color: #fff;
  border-radius: 12px;
  top: 25px;
}

.price-slider-container .irs--round .irs-bar{
  background: linear-gradient(270deg, #C50913 18.4%, #E5E5E5 53.47%, #E32328 94.89%);
  height: 15px;
  border-radius: 12px;
  top: 25px;
}

.price-slider-container .irs--round .irs-handle{
  width: 35px;
  height: 35px;
  background: url(../images/bar-arrow.svg) no-repeat;
  background-size: cover;
  border:none;
  box-shadow: none;
  border-radius: 0;
  top: 17px;
}

.price-slider-container .irs--round .irs-handle.state_hover,.price-slider-container .irs--round .irs-handle:hover{
  background-color:transparent;
  cursor: pointer;
}

.price-slider-container .irs--round .irs-min,.price-slider-container .irs--round .irs-max, .price-slider-container .irs--round .irs-single,
.price-slider-container .irs--round .irs-grid-pol{
  display: none;
}

.price-slider-container .irs--round .irs-grid-text{
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #E32328;
  bottom: -10px;
}
.price-slider-container .noUi-handle:after, .price-slider-container .noUi-handle:before{
  display: none;
}

.nete-logo-img-print {
  display: none;
}