
.modal-window-wrap{
  overflow: auto;
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.75);
  z-index: 500;
  text-align: center;
}

.modal-window-wrap:after{
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}

.modal-window{
  margin: 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.modal-window-header{
  background: #de3328;
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  position: relative;
}

.modal-window-body{
  position: relative;
  background: #FAFAFA;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  max-width: 730px;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.modal-window-body.loading{
  padding: 15px;
  height: 110px;
}

.modal-window-image-block{
  width: 400px;
  height: 500px;
  background: url('../images/modal-image.svg');
  background-size: cover;
}

.modalTitle {
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: -32px;
  background: none;
  left: 50%;
  div{
    img{
      width: 80%;
    }
  }
}

.modal {
  width: 380px;
  .modalContent {
    padding: 140px 40px 30px;
    width: auto;
    text-align: center;
    position: relative;
    form{
      text-align: left;
      margin-top: 25px;
      .button-block {
        display: flex;
        justify-content: center;
        margin: 25px 0 -30px;
      }
      .labelBlock{
        +.labelBlock{
          margin-top: 12px;
        }
        span{
          color: #ffffff;
        }
        .errorText{
          margin: 4px 0 5px !important;
        }
      }
      .buttons_modal{
        a{
          display: inline-block;
          vertical-align: top;
          width: 140px;
          background: #ffffff;
          color: #333333;
          text-decoration: none;
          text-align: center;
          padding: 5px 0;
          &:hover{
            background: #394986;
            cursor: pointer;
            color: #fff;
          }
          +a{
            margin-left: 16px;
          }
        }
      }
    }
  }
}

.open{
  display: block !important;
}

.modalContent{
  .form{
    background: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    .form-container{
      display: block;
      &__label{
        display: block;
        margin: 20px 0;
        input,select{
          background: rgba(216, 216, 216, 0.25);
          color: #9B9B9B;
        }
        .placeholder{
          color: #9B9B9B;
        }
      }
    }
  }
}