@font-face {
    font-family: LeelawUI;
    src: url("../../my-app/src/fonts/LeelawUI.ttf");
}
@font-face {
    font-family: LeelawRegular;
    src: url("../../my-app/src/fonts/leelawad.ttf");
}
@font-face {
    font-family: LeelawUIBold;
    src: url("../../my-app/src/fonts/LeelaUIb.ttf");
}

@font-face {
    font-family: 'SFUIDisplay-Thin';
    src: url('../../my-app/src/fonts/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),  url('../../my-app/src/fonts/SFUIDisplay-Thin.otf')  format('opentype'),
    url('../../my-app/src/fonts/SFUIDisplay-Thin.woff') format('woff'), url('../../my-app/src/fonts/SFUIDisplay-Thin.ttf')  format('truetype'), url('../../my-app/src/fonts/SFUIDisplay-Thin.svg#SFUIDisplay-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIDisplay-Regular';
    src: url('../../my-app/src/fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),  url('../../my-app/src/fonts/SFUIDisplay-Regular.otf')  format('opentype'),
    url('../../my-app/src/fonts/SFUIDisplay-Regular.woff') format('woff'), url('../../my-app/src/fonts/SFUIDisplay-Regular.ttf')  format('truetype'), url('../../my-app/src/fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIDisplay-Light';
    src: url('../../my-app/src/fonts/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),  url('../../my-app/src/fonts/SFUIDisplay-Light.otf')  format('opentype'),
    url('../../my-app/src/fonts/SFUIDisplay-Light.woff') format('woff'), url('../../my-app/src/fonts/SFUIDisplay-Light.ttf')  format('truetype'), url('../../my-app/src/fonts/SFUIDisplay-Light.svg#SFUIDisplay-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIDisplay-Bold';
    src: url('../../my-app/src/fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),  url('../../my-app/src/fonts/SFUIDisplay-Bold.otf')  format('opentype'),
    url('../../my-app/src/fonts/SFUIDisplay-Bold.woff') format('woff'), url('../../my-app/src/fonts/SFUIDisplay-Bold.ttf')  format('truetype'), url('../../my-app/src/fonts/SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}