@media all and (max-width: 1300px){
  .price-slider-container .irs--round .irs-grid-text{
    font-size: 14px;
  }
  .main-header .center-wrap:before{
    width: 500px;
    background-size: contain;
    height: 335px;
    margin-top: -210px;
  }
}

@media all and (max-width: 1000px){
  .center-wrap{
    padding: 0 10px;
    max-width: inherit;
  }

  .promise{
    .center-wrap{
      padding: 0;
    }
  }

  .promise .plane-container{
    .flex-container_column{
      >div{
        padding: 20px 10px;
      }
      &:last-child{
        >div:nth-child(odd){
          background: rgba(206, 220, 233, 0.3);
        }
      }
      &:first-child{
        >div:nth-child(even){
          background: rgba(206, 220, 233, 0.3);
        }
      }
    }
  }

  .modal-window-image-block{
    display: none;
  }

  .modal {
    width: 300px;
    position: relative;
    .modalContent {
      padding: 100px 20px 10px;
      width: auto;
      text-align: center;
      position: relative;
    }
  }

  .modalTitle{
    position: absolute;
    top: -33px;
    background: none;
    left: 4%;
  }

  h1{
    font-size: 24px;
    line-height: 33px;
  }

  .main-header{
    margin: 0 0 120px;
    &:before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(238, 238, 238, 7e-05) -44.71%, rgba(0, 0, 0, 0.7) 122.6%);
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
    }
    .center-wrap{
      padding: 0;
      z-index: 0;
      &:before{
        content: '';
        position: absolute;
        background: url(../../my-app/src/images/plane.svg) no-repeat;
        width: 250px;
        background-size: contain;
        height: 185px;
        top: 50%;
        margin-top: -292px;
        z-index: -1;
        right: 50%;
        margin-right: -139px;
        opacity: 0.8;
      }
    }
  }

  .header-top{
    justify-content: space-between;
    padding: 20px 10px;
    background: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
    align-items: center;
    .phone-number{
      a{
        font-size: 13px;
        line-height: 18px;
        &:before{
          top: 2px;
        }
      }
    }
    .logo{
      margin: 0;
      img{
        width: 140px;
      }
    }
  }
  .header-middle{
    margin-top: 90px;
    text-align: center;
    z-index: 2;
    p{
      font-size: 16px;
      line-height: 22px;
    }
  }

  .header-bottom{
    padding: 0 10px;
    .form-container{
      flex-direction: column;
      &__label{
        margin: 20px 0;
        width: 100%;
      }
    }
  }
  .form{
    &__h3{
      font-size: 16px;
      line-height: 22px;
    }
  }

  .button-block{
    &__button{
      font-size: 18px;
      line-height: 25px;
      padding: 10px 30px;
    }
  }
  p{
    font-size: 16px;
    line-height: 22px;
  }
  h2{
    font-size: 22px;
    line-height: 30px;
  }

  .flex-container_row{
    flex-direction: column;
  }

  .promise {
    .plane-container{

      .flex-plane{
        display: none;
      }
    }
  }
  footer.footer-main .copyright .bank-information{
    width: auto;
  }

  .flex-card__image_circle > div{
    width: 105px;
    height: 105px;
    margin: -85px auto 25px;
    img{
      width: 65%;
    }
  }

  .flex-container.what-cards .flex-container__item{
    flex-basis: 100%;
  }

  .flex-card{
    margin: 40px 0;
  }

  .what-cards {
    margin: 45px 0 40px;
  }

  .flex-card__p{
    font-size: 14px;
    line-height: 25px;
  }
  .featured{
    padding: 40px 0 75px;
    &:before{
      width: 160px;
      height: 100px;
      top: -17px;
    }
    .featured-sponsors{
      flex-direction: row;
      height: 62px;
      overflow: hidden;
    }
  }

  .flex-card__title{
    font-size: 20px;
    line-height: 27px;
  }
  .align-right{
    text-align: center;
  }

  .fsz20{
    font-size: 14px;
    line-height: 19px;
    br{
      display: none;
    }
  }
  .savings-info .monthly-volume{
    font-size: 14px;
    line-height: 19px;
  }
  .savings-info .monthly-volume b{
    font-size: 36px;
    line-height: 49px;
  }
  .price-slider-container .irs--round .irs-grid-text{
    font-size: 10px;
    line-height: 14px;
  }
  .price-slider-container .irs--round .irs-line,
  .price-slider-container .irs--round .irs-bar{
    height: 7px;
  }
  .price-slider-container .irs--round .irs-handle{
    height: 19px;
    width: 19px;
    top: 19px;
  }
  .savings-info .mini-desc{
    font-size: 10px;
    line-height: 14px;
    br{
      display: none;
    }
  }
  .potential{
    padding: 20px;
    margin: 0 auto;
    >div{
      padding: 20px;
    }
    .price-month{
      font-size: 36px;
      line-height: 49px;
    }
    .price-year{
      font-size: 22.5px;
      line-height: 31px;
    }
    p{
      font-size: 14px;
      line-height: 19px;
    }
    p.weight-bold{
      font-size: 16px;
      line-height: 22px;
    }
  }
  .form .form-container{
    flex-direction: column;
    &__label{
      flex-basis: 100%;
      margin: 20px 0;
    }
  }
  footer .phone{
    font-size: 36px;
    line-height: 49px;
  }
  footer .contacts{
    width: auto;
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .menu{
    width: auto;
    display: none;
  }
  footer .socials{
    padding-top: 15px;
  }
  footer.footer-main .footer-presentation{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0;
    background: url(../../my-app/src/images/unified-presentation-icon.png) center 17px no-repeat;
    padding: 100px 0 30px 0;
    background-size: 54px;
  }
  footer.footer-main .footer-presentation .text{
    width: auto;
  }
  .price-slider-container{
    width: 80%;
    margin: 20px auto 40px;
  }
  .pre-footer{
    margin-bottom: 0;
  }
  .header-bottom .button-block{
    margin: 20px 0 -46px;
  }
  footer .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
