.dropDown{
  display: none;
}

a,span{
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Raleway SemiBold';
  &:hover{
    cursor: pointer;
  }
}

a{
  &:hover{
    text-decoration: underline;
  }
  &.active{
    text-decoration: underline;
  }
}

span{
  position: relative;
  &:hover{
    .dropDown{
      display: flex;
      flex-direction: column;
      position: absolute;
      padding: 18px;
      background: rgba(53, 158, 189, 0.1);
      border-radius: 10px;
      top: 35px;
      width: 200px;
      left: 0;
      &:before{
        content:'';
        position: absolute;
        top: -20px;
        height: 20px;
        width: 100%;
        left: 0;
        background: transparent;
      }
      a{
        margin-bottom: 7px;
        font-size: 12px;
        font-family: 'Raleway Light', sans-serif;
        &:last-child{
          margin: 0;
        }
      }
    }
  }
}